<div class="temp-landing">

    <div class="card-landing landing">
        <img src="../../../assets/img/logo.svg" alt="">

        <h1 class="text-black font-600">¡Tu ventas a un click!</h1>

        <div class="icon icon-time_to_leave"></div>

        <div  class="grid align-content-end gap-10" style="width:100%;">
            <button routerLink="../signup" class="btn-primary btn-block">REGISTRARSE</button>
            <button routerLink="../login" class="btn-secondary btn-block">INICIAR SESIÓN</button>
        </div>

    </div>
</div>