
    <div class="temp-taller">

        <!-- !SECTION HEADER ==================================== -->
        <div class="section-header">
            <h1 class="font-500 text-black">Encuentra los talleres más cercanos y recomendados</h1>
            <div class="group-input-icon-left">
                <span class="icon-search small "></span>
                <input 
                    type="text" 
                    placeholder="Buscar" 
                    class="input-circle input-search"
                    [(ngModel)]="search_bar.filter"
                    (keyup.enter)="talleres=[];Search()"
                >
            </div>
        </div>


        <!-- !SECTION FILTRO ==================================== -->
        <div class="section-filtro" *ngIf="display_filter">
            <div class="card card-filtro">
                <div class="grid align-content-start gap-10">
                    <button class="btn close" (click)="display_filter = !display_filter"> <span class="icon icon-x"></span> </button>
                    <h1 class="text-black font-500">Filtrar por</h1>
                    <button (click)="LimpiarFiltro()" class="btn color-rojo font-600">LIMPIAR FILTROS</button>
                </div>

                <div>
                    <div class="section">
                        <button  (click)="dropDown('ubicacion')">Ubicación <span class="icon icon-cheveron-down"></span></button>

                        <div class="dropdown " id="ubicacion">
                            <button (click)="dropDown('pais')" class="btn-select" > {{filter.country == null? 'Seleccionar país': filter.country}} <span class="icon icon-cheveron-down"></span></button>

                            <div class="content-select" id="pais">
                                <button [class]="filter.country == null?'select':''" (click)="filter.country = null" >  Seleccione </button>
                                <button [class]="filter.country == 'Rumania'?'select':''" (click)="filter.country = 'Rumania'" >  Rumania </button>
                                <button [class]="filter.country == 'España'?'select':''" (click)="filter.country = 'España'" >  España </button>
                                <button [class]="filter.country == 'Alemania'?'select':''" (click)="filter.country = 'Alemania'" >  Alemania </button>
                                <button [class]="filter.country == 'Italia'?'select':''" (click)="filter.country = 'Italia'" >  Italia </button>
                                <button [class]="filter.country == 'Reino Unido'?'select':''" (click)="filter.country = 'Reino Unido'" >  Reino Unido </button>
                            </div>


                            <input type="text" class="input-square" placeholder="Ciudad" [(ngModel)]="filter.city">
                        </div>
                    </div>

                    <div class="section">
                        <button (click)="dropDown('titulo')">Título <span class="icon icon-cheveron-down"></span></button>
                        <div class="dropdown" id="titulo">
                            <input [(ngModel)]="filter.title" type="text" class="input-square">
                        </div>
                    </div>

                    <button class="btn btn-block btn-secondary" style="margin-top:10px" (click)="filtrar()" >FILTRAR</button>


                </div>


            </div>

        </div>

        <!-- !SECTION CONTENT ==================================== -->
        <div class="section-content">
            <div class="grid gc-2x-g align-items-center">
                <h3  *ngIf="!mobile" >{{talleres?.total}} Resultados</h3>
                <button *ngIf="mobile" class="btn-secondary btn-filter" (click)="display_filter = !display_filter" > <span class="icon icon-adjustments"></span> Filtrar</button>

                <select class="justify-self-end" (change)="OrderBy(orderBy.value,0)" #orderBy name="" id="">
                    <option value="0" selected  >Ordenar</option>
                    <option value="created_new" >Más nuevos</option>
                    <option value="created_old" >Más antiguos</option>
                </select>
            </div>
            <h3  *ngIf="mobile" >{{talleres?.total}} Resultados</h3>

            <div class="content">
                <h1 class="font-600 text-black" *ngIf="talleres?.total == 0 || talleres?.count == 0" >No encontramos resultados para la búsqueda, <br> inténtalo de nuevo</h1>

                <div *ngFor="let item of talleres?.data | paginate: { itemsPerPage: talleres?.per_page, currentPage: talleres?.current_page,totalItems: talleres?.total }; let i =index" class="card-h">
                    <div class="card-h-img">
                        <img [src]="'https://cdn.autosmotos.es/'+item.ad.thumbnail" (click)=" item.website_url!=null && GoPage(item.website_url)"  (error)="onImgError($event)"   alt="">
                    </div>

                    <div class="card-h-body">
                        <div class="section">
                            <h4 class="font-600 titulo notranslate" (click)=" item.website_url!=null && GoPage(item.website_url)"> {{item.ad.title}} </h4>
                            <button class="btn" [class]="filterMark(item.ad_id)?'btn-bookmark-primary':'btn-bookmark'" [id]="'btn'+i"  (click)="SelectMark(item, i)" ><span class="icon-bookmark text-black"></span></button>
                        </div>

                        <div class="section">
                            <h5> {{item?.address}} </h5>

                            <h5 class="color-rojo">{{item?.ad?.user?.review_ratings}} <span class="icon icon-star color-rojo"></span> </h5>
                        </div>

                        <div class="footer">
                            <!-- <button class="btn" (click)="item?.whatsapp_number&&GoToWts(item?.whatsapp_number)"> <img [src]="item?.whatsapp_number?'../../../../assets/img/btn-wsp.png':'../../../../assets/img/btn-wsp-dis.png'" alt=""> </button>  
                            <a [href]="'tel:'+item?.mobile_number"  class="btn"> <img src="../../../assets/img/btn-phone.png" alt=""> </a>  --> 
                            <a [attr.href]="item?.whatsapp_number ? 'https://wa.me/' + item?.whatsapp_number : null">
                                <img class="phone-img" [src]="item?.whatsapp_number ? '/assets/img/btn-wsp.png' : '/assets/img/btn-wsp-dis.png'" alt=""> 
                            </a> 
                            <a [href]="'tel:'+ item?.mobile_number"><img class="phone-img" src="/assets/img/btn-phone.png" alt=""> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="load"  *ngIf="loading">
                <div class="content-car-load">
                    <div class="car-load"></div>
                </div>
                <div class="content-load-bar">
                    <div class="load-bar"></div>
                </div>
            </div>

            <pagination-controls 
                style="
                    display: grid;
                    justify-content: center;
                "
                *ngIf="talleres.total"
                (pageChange)="pageChanged($event)"
                previousLabel=""
                nextLabel=""
            >
            </pagination-controls>

        </div>


    </div>
