<!-- <app-seller-head></app-seller-head> -->

<div class="maxBody">
    <div class="section-header">
        <div class="group-input-icon-left">
            <span class="icon-search small "></span>
            <input type="text" placeholder="Busca reseñas por producto" class="input-circle 
                input-search">
        </div>
        <div class="boxOptions">
            <button class="btn" (click)="type = 'Todos'" [class]="type=='Todos'?'btn-primary':'btn-primary-inv'">Todos</button>
            <button class="btn" (click)="type = 'Venta'" [class]="type=='Venta'?'btn-primary':'btn-primary-inv'">Venta</button>
            <button class="btn" (click)="type = 'Alquiler'" [class]="type=='Alquiler'?'btn-primary':'btn-primary-inv'">Alquiler</button>
            <button class="btn" (click)="type = 'Recambios'" [class]="type=='Recambios'?'btn-primary':'btn-primary-inv'">Recambios</button>
            <button class="btn" (click)="type = 'Talleres'" [class]="type=='Talleres'?'btn-primary':'btn-primary-inv'">Talleres</button>
        </div>
    </div>

    <div class="subBody">
            <div class="headBoxInfo">
                <h2>Reseñas de xxxxxx</h2>
            </div>
            <div class="cardBoxResena">
                <div class="headCard">
                    <h2>Nombre</h2>
                    <h3>Hora</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
                <div class="footCard">
                    <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
                </div>
            </div>
            <div class="cardBoxResena">
                <div class="headCard">
                    <h2>Nombre</h2>
                    <h3>Hora</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
                <div class="footCard">
                    <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
                </div>
            </div>
            <div class="cardBoxResena">
                <div class="headCard">
                    <h2>Nombre</h2>
                    <h3>Hora</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
                <div class="footCard">
                    <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
                </div>
            </div>
            <div class="cardBoxResena">
                <div class="headCard">
                    <h2>Nombre</h2>
                    <h3>Hora</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
                <div class="footCard">
                    <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
                </div>
            </div>
            <div class="cardBoxResena">
                <div class="headCard">
                    <h2>Nombre</h2>
                    <h3>Hora</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
                <div class="footCard">
                    <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
                </div>
            </div>
            <div class="cardBoxResena">
                <div class="headCard">
                    <h2>Nombre</h2>
                    <h3>Hora</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
                <div class="footCard">
                    <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
                </div>
            </div>
    </div>
    <div class="subBody">
        <div class="headBoxInfo">
            <h2>Reseñas de xxxxxx</h2>
        </div>
        <div class="cardBoxResena">
            <div class="headCard">
                <h2>Nombre</h2>
                <h3>Hora</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
            <div class="footCard">
                <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
            </div>
        </div>
        <div class="cardBoxResena">
            <div class="headCard">
                <h2>Nombre</h2>
                <h3>Hora</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
            <div class="footCard">
                <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
            </div>
        </div>
        <div class="cardBoxResena">
            <div class="headCard">
                <h2>Nombre</h2>
                <h3>Hora</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
            <div class="footCard">
                <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
            </div>
        </div>
        <div class="cardBoxResena">
            <div class="headCard">
                <h2>Nombre</h2>
                <h3>Hora</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
            <div class="footCard">
                <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
            </div>
        </div>
        <div class="cardBoxResena">
            <div class="headCard">
                <h2>Nombre</h2>
                <h3>Hora</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
            <div class="footCard">
                <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
            </div>
        </div>
        <div class="cardBoxResena">
            <div class="headCard">
                <h2>Nombre</h2>
                <h3>Hora</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. </p>
            <div class="footCard">
                <h4>Valoró con <span>5.0 <img src="../../../../assets/iconos/icons-card/star-red.svg"></span></h4>
            </div>
        </div>
    </div>
</div>