<div class="temp-signup">
    <h2 class="redVolver" routerLink="/seller/tienda">VOLVER A TIENDA</h2>

    <form [formGroup]="formAnuncio" >
    <div class="content">

        <!-- <img src="../../../assets/img/logo.svg" alt=""> -->

        <!-- <div class="group-fases">
            <div class="circle" [class]="fase >=1?'active':''" > <span>1</span> </div>
            <div class="circle" [class]="fase >=2?'active':''"> <span>2</span> </div>
            <div class="circle" [class]="fase ==3?'active':''"> <span>3</span> </div>
            <div class="line-1" [class]="fase >=2?'active':''"></div>
            <div class="line-2" [class]="fase ==3?'active':''"></div>
        </div> -->

        


        <!-- ! FASE 1 ################ -->
        <div class="grid" style="min-width:700px" >
         
       
            <h1 class="text-black font-500" style="margin-right: auto;">Datos del alquiler</h1>

            <div class="grid  gap-10">
                <div>   
                    <div class="form-group ">
                        <label>Empresa</label><br>
                        <input type="text" class="input-square" formControlName="title" [ngClass]="{ 'errorCampos': e.title.errors }"  placeholder="Nombre de la empresa">
                    </div>
                    <div class="form-group ">
                        <label>Descripción</label>
                        <textarea class="input-square" formControlName="description" [ngClass]="{ 'errorCampos': e.description.errors }"   placeholder="Escribir aquí"  name="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>

<!--bloque 2-->
            <div class="grid gc-2x-g gap-10">
                <div>   
                    <div class="form-group ">
                        <label>Dirección</label>
                        <input type="text" class="input-square" formControlName="address" [ngClass]="{ 'errorCampos': e.address.errors }"    placeholder="Dirección">
                    </div>
               
                    <div class="form-group">
                        <label>País</label>
                        
                        <select class="select-square" formControlName="market_id"  [ngClass]="{ 'errorCampos': e.market_id.errors }"   name="" id="" >
                            <option value="null" selected>Seleccione</option>
                            <option [value]="marke.id"  *ngFor="let marke of market">  {{marke.nombre}} </option>
              
                        </select>
                    </div>
    
                    <div class="form-group ">
                        <label>Número de teléfono</label>
                        <input type="tel" class="input-square" formControlName="mobile_number" (keydown)="SoloNumero($event)"  [ngClass]="{ 'errorCampos': e.mobile_number.errors }"    placeholder="Número de teléfono">
                    </div>
    
                    <div class="form-group ">
                        <label>Sitio web</label>
                        <input type="text" class="input-square" formControlName="website_url"  [ngClass]="{ 'errorCampos': e.website_url.errors }"   placeholder="Sitio web">
                    </div>

                    <div class="form-group ">
                       
                        <button class="btn color-rojo" (click)="[SelectImg()]" *ngIf="!user_imagen_show?.img"> <i class="icon icon-upload"></i> SUBIR LOGO </button>

                        <div class="content-img">
                            <i class="icon icon-trash papeleraFoto" style="color: red !important;" (click)="delete()" *ngIf="user_imagen_show?.img"></i>
                            <img [src]="user_imagen_show.img" *ngIf="user_imagen_show?.img" alt="">
                            <img [src]="user_imagen_show2" *ngIf="user_imagen_show2" alt="">
                            <input type="file" id="img" (change)="[CargarImagen($event)]" style="display:none" accept="image/png, image/gif, image/jpeg">
                        </div>
                    </div>
    
                    
                </div>
    
                <div>
                    <div class="form-group ">
                        <label>Código postal</label>
                        <input type="text" class="input-square" formControlName="zip_code"  [ngClass]="{ 'errorCampos': e.zip_code.errors }"  placeholder="Código postal">
                    </div>
    
                    <div class="form-group">
                        <label>Ciudad</label>
                        <input type="text" class="input-square" formControlName="city"  [ngClass]="{ 'errorCampos': e.city.errors }"    placeholder="Ciudad">
                    </div>
    
                    <div class="form-group ">
                        <label>Número de Whatsapp</label>
                        <input type="tel" class="input-square" formControlName="whatsapp_number" (keydown)="SoloNumero($event)"  [ngClass]="{ 'errorCampos': e.whatsapp_number.errors }"  placeholder="Número de Whatsapp">
                    </div>
                    <div class="form-group ">
                        <label>Email</label>
                        <input type="email" class="input-square"  formControlName="email_address" [ngClass]="{ 'errorCampos': e.email_address.errors }"  placeholder="email">
                    </div>

                </div>
            </div>



        </div>

        <h4 *ngIf="error == 1" class="text-center color-rojo">Complete todos los campos.</h4>
        <h4 *ngIf="error == 2" class="text-center color-rojo">Ha ocurrido un error.</h4>
    
        <div class="footer" style="margin-left: auto;">
    
            <!-- <button *ngIf="fase == 1" class="btn-primary justify-self-center" (click)="SignUpDealer()" >SIGUIENTE <span *ngIf="loading" class="icon icon-refresh loader"></span> </button>
            <button *ngIf="fase == 2" class="btn-primary justify-self-center" (click)="SignUpDealerShowRooms()" >SIGUIENTE <span *ngIf="loading" class="icon icon-refresh loader"></span> </button>-->
            <button  class="btn-primary justify-self-center" style="  margin-left: auto;" (click)="add()" 
                    [disabled]="formAnuncio.invalid || (!img && !user_imagen_show2)" 
                    [ngClass]="formAnuncio.invalid || (!img && !user_imagen_show2)? 'disable' : '' ">
                    {{editar ? 'EDITAR ANUNCIO' : 'PUBLICAR ANUNCIO'}} 
                    <span *ngIf="loading" class="icon icon-refresh loader"></span> 
            </button>
            <!-- <button  class="btn-primary justify-self-center" (click)="add()" [disabled]="formAnuncio.invalid" [ngClass]="formAnuncio.invalid ? 'disabledButton' : '' " >PUBLICAR ANUNCIO <span *ngIf="loading" class="icon icon-refresh loader"></span> </button>  -->
    
    
        </div>

    </div>

</form>

</div>
