
<div class="temp-inicio">

    <div class="section">

        <div class="header-top"  >
            <h2>Últimos anuncios publicados </h2>

            <button class="btn-secondary font-600">NUEVO ANUNCIO</button>
        </div>

        <div class="content">

            <div class="carrusel">

                <button class="btn chevron-left"> <span class="icon icon-cheveron-left"></span> </button>

                <div class="carrusel-content" >

                    <div class="card-v" *ngFor="let item of [1,2,3]" >
                        <div class="section-img">
                            <img src="../../../../assets/img/Autos/auto1.jpg" alt="">
                        </div>
    
                        <div class="section-body">
    
                        </div>
    
                    </div>

                </div>

                <button class="btn chevron-right"> <span class="icon icon-cheveron-right"></span> </button>

            </div>

        </div>

    </div>

</div>