.over{
    background: #1C1C1C;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 22;
}

.modalSM{
    width: 90%;
    max-width: 612px;
    height: 90%;
    max-height: 580px;
    position: fixed;
    background-color: #fff;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
    padding: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        width: 14px;
        cursor: pointer;
        position: absolute;
        right: 26px;
        top: 26px;
    }
    .boxBottns{
        width: 80%;
        height: auto;
        align-items: center;
        text-align: center;
        h2{
            font-size: 19px;
            font-weight: 500;
            color: #1C1C1C;
        }
        button{
            width: 100%;
            height: 50px;
            cursor: pointer;
            border-radius: 100px;
            background-color: #ED1C24;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            border: 0;
            outline: 0;
            text-transform: uppercase;
            margin-top: 34px;
            display: block;
            z-index: 24;
        }
        a{
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 100px;
            background-color: #ED1C24;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            border: 0;
            outline: 0;
            text-transform: uppercase;
            margin-top: 34px;
        }
    }
}